astropy>=2.0.16
bilby
celluloid>=0.2.0; python_version >= '3.5'
h5py>=2.10.0
lalsuite>=6.63
lscsoft_glue==2.0.0
matplotlib==2.1
numexpr
numpy==1.16.5
pandas==0.24.2
pathlib
pycbc>=1.15.4
pyswarm==0.6
pytest
romspline==1.1.6
scikit-learn==0.20.4
scipy==1.4.1; python_version >= '3.5'
scipy==1.2.3; python_version <= '2'
seaborn==0.9.1
six==1.10.0
statsmodels>=0.10.2
utils==0.9.0
