astropy>=2.0.16
celluloid>=0.2.0; python_version >= '3.5'
h5py>=2.10.0
lalsuite>=6.63
lscsoft_glue==2.0.0
matplotlib
numexpr
numpy
pandas
pathlib
pycbc>=1.15.4
pyswarm
pytest
romspline
scikit-learn
scipy
seaborn
six==1.10.0
statsmodels>=0.10.2
utils==0.9.0
